body{
  background-color: #393E46
}
.fluid-container{
  text-align: center;
  margin: auto;

}
h1{
margin: 30px;
font-family: 'Lobster', cursive;

font-size: 8rem;
color: #4ECCA3;
text-shadow:5px 0 #232931;
}
.dice{
  color: #4ECCA3;
  font-size: 2rem;
  font-family: 'Indie Flower';
  display: inline-block;
  text-align: center;
  margin: 0 5%;
}
